@import "tailwindcss";

line{
    transition:0.3s;
}

.open .line:nth-child(1){
    transform:rotate(45deg) translateY(11px);
}

.open .line:nth-child(2){
    opacity:0;
}

.open .line:nth-child(3){
    transform:rotate(-45deg) translateY(-11px);
}